.contenedor {
  display: flex;
  flex-direction: column;
}
h1 {
  text-align: center;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

label {
  padding: 5px;
}
.monedas {
  display: flex;
  justify-content: center;
  padding: 5px;
}
