.contenedor {
  display: flex;
  flex-direction: column;
}
h1 {
  text-align: center;
  font-family: "Roboto Flex", sans-serif;
  color: white;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

label {
  padding: 5px;
}
.monedas {
  display: flex;
  justify-content: center;
  padding: 5px;
  color: white;
  text-shadow: -1px 3px 7px rgba(0, 0, 0, 0.6);
  font-family: "Roboto Flex", sans-serif;
}
.seccion {
  background: rgba(74, 104, 121, 0.3);
  box-shadow: 0 8px 32px 0 rgba(74, 104, 121, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 30px;
}
body {
  background-image: url(../assets/fondo2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.texto {
  font-family: "Roboto Flex", sans-serif;
  color: white;
}
.box {
  width: 100px;
}
.inputs {
  display: flex;
  justify-content: center;
}
.contendor_resultado {
  text-align: center;
  padding: 5px;
  color: white;
  font-family: "Roboto Flex", sans-serif;
}
/*login*/
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: sans-serif;
  background: url(../assets/gray.jpg) no-repeat;
}
h1 {
  color: #fff;
  text-align: center;
}
.form-register {
  width: 95%;
  max-width: 500px;
  margin: auto;
  background: white;
  border-radius: 7px;
}
.form-titulo {
  background: #0ea7e7;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-weight: 100;
  font-size: 30px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom: 3px solid #ea484e;
}
.contenedor-inputs {
  padding: 10px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
input {
  margin-bottom: 15px;
  padding: 15px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid darkgray;
}
.input-48 {
  width: 48%;
}
.input-100 {
  width: 100%;
}
.btn-enviar {
  background: #ea484e;
  color: #fff;
  margin: auto;
  padding: 10px 40px;
  cursor: pointer;
  font-size: 20px;
}
.btn-enviar:hover {
  background: #0ea7e7;
  transform: scale(1.1);
}
.btn-enviar:active {
  transform: scale(1.2);
}
.form-link {
  width: 100%;
  margin: 7px;
  font-size: 14px;
  text-align: center;
}
